*.json
*.bin
*.mat
*.h5
*.pyc
*-checkpoint.ipynb
*~
*.swp

*.zip
*.tar.gz

data/metadata/*
data/resized_imcrop/*
data/test_referit_local_features/*
data/training/*.txt
data/trainval_referit_local_features/*

datasets/ReferIt/*
